<div class="container">
  <h3 class="title is-4">{{count}} selected</h3>
  <div><input class="checkbox" #toggle type="checkbox" (click)="toggleAll()"></div>
  <app-entry #entries *ngFor="let item of items" [item]="item"></app-entry>
  <button class="button is-light" (click)="process()" [disabled]="count === 0">Process Items</button>
  <br>
  <br>
  <div *ngIf="this.payload">
    <div class="box">{{payload | json}}</div>
    <button class="button is-small" (click)="reset()">Reset</button>
  </div>
</div>

